/* FONTS */
@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway/Raleway-Bold.woff2') format('woff2'),
      url('../font/raleway/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway/Raleway-Black.woff2') format('woff2'),
      url('../font/raleway/Raleway-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway/Raleway-ExtraBold.woff2') format('woff2'),
      url('../font/raleway/Raleway-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway/Raleway-Thin.woff2') format('woff2'),
      url('../font/raleway/Raleway-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway/Raleway-Light.woff2') format('woff2'),
      url('../font/raleway/Raleway-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway/Raleway-Medium.woff2') format('woff2'),
      url('../font/raleway/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway/Raleway-Regular.woff2') format('woff2'),
      url('../font/raleway/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway/Raleway-SemiBold.woff2') format('woff2'),
      url('../font/raleway/Raleway-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
