// COLORS
$color-primary: #000000;
$color-secondary: #009688;
$color-dark-grey: #373737;
$color-kettleman: #616161;
$color-cerebral-grey: #cccccc;
$color-mortar-grey: #9e9e9e;

// FONTS
$font-stack: 'Raleway', 'Arial', sans-serif;
