.about-me__content {
  margin-bottom: 32px;
}

.about-me__title {
  font-weight: 600;
  font-size: 20px;
}

.about-me__text {
  margin-top: 16px;
  margin-bottom: 0;
}

.about-me__line {
  border: 0;
  border-top: 1px solid #eee;
}

.about-me__knowledge {
  
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:nth-child(4){
    margin-bottom: 24px;
  }
}

.about-me__skills {
  margin-bottom: 46px;
}

.about-me__secondary-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
}

.about-me__knowledge-heading {
  margin-top: 0;
  margin-bottom: 14px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
}

.about-me__knowledge-pgorgress-wrapper {
  height: 38px;
  position: relative;
  z-index: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $color-cerebral-grey;
}

.about-me__knowledge-pgorgress {
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  text-align: center;
  color: #fff;
  background-color: $color-kettleman;
}

.about-me__knowledge-pgorgress--photography {
  width: 95%;
}

.about-me__knowledge-pgorgress--web-design {
  width: 85%;
}

.about-me__knowledge-pgorgress--photoshop {
  width: 80%;
}

.about-me__download-resume {
  display: inline-block;
  padding: 10px 24px;
  text-decoration: none;
  transition: color 0.2s ease,
  background-color 0.2s ease;
  color: #fff;
  background-color: $color-kettleman;

  &:hover {
    color: $color-primary;
    background-color: $color-cerebral-grey;
  }
}

.about-me__download-resume-txt {
  margin-left: 16px;
}

.about-me__charge-list {
  @include list-unstyled;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
}

.about-me__charge-item {
  width: calc(100% / 3 - 16px);
  margin-left: 16px;
}

@include breakpoint-down (600px) {

  .about-me__charge-list {
    margin-bottom: -16px;
  }

  .about-me__charge-item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

}
