.portfolio-section {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 300px;
  transition: margin-left 0.3s ease;
}

@include breakpoint-down (992px) {

  .portfolio-section {
    margin-left: 0;
  }

}
